<br>
<div class="card" style="margin-left: 40px; ">
  <div class="card-header" style="color:white; background-color:  rgb(19, 19, 20);">
    <h5>Notifications</h5>
  </div>

  <div class="card-body" style="margin-left: -30px;margin-top:-10px ;">
    <section class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="d-flex">
                  <ul id="tabsJustified" class="nav nav-pills flex-column" style="line-height:240%; color: black;">
                      <li class="nav-item"><a href="" style="color:black;"data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase active" >SMS</a></li>
                      <li class="nav-item"><a href="" style="color:black;" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">MESSAGES</a></li>
                  </ul>
                  <div class="tab-content border rounded p-3 w-100">
                      <div id="home1" class="tab-pane fade active show">
                         Prepare well for IAE-1 Examination. ALL THE BEST WISHES!!
                         Internal Assessment Examination - I','6 days ago','You have Internal Assessment Exam-II. Timing will be 7.50 A.M to 9.30 A.M.
                         Internal Assessment Examination - I','2 weeks ago','You have Internal Assessment Exam-I. Timing will be 7.50 A.M to 9.30 A.M.
                      </div>
                      <div id="messages1" class="tab-pane fade">
                          Messages ...
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </section>
  </div>


  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>