<br>
<div class="card" style="margin-left: 40px;margin-right: 20px;">
    <div class="card-header" style="color: white; background-color: rgb(19, 19, 20);">
        <h4>Student Details</h4>
    </div>
    <img class="card-img " src= "assets/images/avat.jpg" alt="Card image" style="width:360px; height:310px; margin:auto;">
    <div class="card-body">
      <h4 class="card-title">Name : Ezhilan.A.N</h4>
      <p class="card-text">Roll.No : 18CS1176</p>
      <a href="#" class="btn btn-primary" style="background-color: black;">See Profile</a>
    </div>
</div>
